<div class="navbar-container">
    <a style="color: white; text-decoration: none;"href="/films"><h1>Films</h1></a>
    <form class="search-form" action="/getMovie" metho="GET">
        <input id="navbarInput" type="text" name="movieName" placeholder="Rechercher un film" required="required">
        <button id="navbarButton" type="submit"></button>
    </form>
    <nav>
        <a href="/">Accueil</a>
    </nav>
</div>