<div class="navbar-container">
    <a style="color: white; text-decoration: none;"href="/"><h1>Films et séries</h1></a>
    <nav>
        <a href="/">Accueil</a>
        <a href="/films">Films</a>
        <a href="/series">Séries</a>
    </nav>
</div>