<div class="navbar-container">
    <a style="color: white; text-decoration: none;"href="/series"><h1>Séries</h1></a>
    <form class="search-form" action="/getTv" metho="GET">
        <input type="text" name="tvName" placeholder="Rechercher une série" required="required">
        <button type="submit"></button>
    </form>
    <nav>
        <a href="/">Accueil</a>
    </nav>
</div>