<div class="navbar-container">
    <a style="color: white; text-decoration: none;"href="/"><h1>Films et séries</h1></a>
    <form class="search-form" action="/getTv" metho="GET">
        <input type="text" name="tvName" placeholder="Nom de la série" required="required">
        <input type="submit">
    </form>
    <nav>
        <a href="/">Accueil</a>
    </nav>
</div>