<%- include("partials/header") -%>
    <%- include("partials/navbarIndex") -%>
    <%- include("partials/wave") -%>
    <p>
        Vous cherchez des informations sur vos films et vos séries préférés ?
        Vous êtes au bon endroit ! En effet, ce site répertorie tous les films et séries
        de la Terre (ou presque).
    </p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

<%- include("partials/footer") -%>