<%- include("partials/header") -%>
<%- include("partials/navbarSeries") -%>
    <div class="medias">
        <% medias.forEach(media => { %>
            <%- include("partials/media", { media }) -%>
        <% }) %>
    </div>
<%- include("partials/footer") -%>