@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: "Ubuntu", sans-serif;
}

.navbar-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    background: #667eea;
    color: white;
    z-index: 1000;

}

.navbar-container nav a {
    color: white;
    text-decoration: none;
    position: relative;
    margin: 0 10px
}

.navbar-container nav a::after {
    content: "";
    height: 0px;
    width: 100%;
    background: white;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    transition: height .1s ease-in-out;
}

.navbar-container nav a:hover::after {
    height: 1px;
    transition: height .1s ease-in-out;
}

.search-form input:nth-child(1) {
    border-radius: 5px;
    border: none;
    padding: 3px 50px;
    outline: 0;
    border: 1px solid white;
    transition-duration: .3s;
}

.search-form button {
    content: "";
    width: 16px;
    height: 16px;
    background: url("../img/search.png");
    background-position: center;
    background-size: cover;
    z-index: 2;
    border: none;
    display: inline-block;
    padding: 3px;
    cursor: pointer;
    margin-left: 5px;
}

.search-form input:focus {
    border: 1px solid rgba(0, 0, 0, 0.089);
    background: rgb(231, 231, 231);
    transition-duration: .3s;
}

.search-form input:focus::placeholder {
    color: black;
    transition-duration: .3s;
}

.media-img {
    width: 80px;
    height: 120px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.no-image {
    width: 80px;
    height: 120px;
    background-color: #dbdbdb;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.logo-no-img {
    width: 30px;
    height: 30px;
    background: url("../img/image.png");
    background-position: center;
    background-size: cover;
    z-index: 2;
}

.medias {
    margin-top: 30px;
    padding: 0 10px;
}

.media-container {
    border: 1px solid rgba(112, 112, 112, 0.185);
    height: 120px;
    margin: 10px 0;
    display: flex;
    flex-flow: row;
    resize: vertical;
    box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
    border-radius: 10px;
    cursor: pointer;
    transition: box-shadow .2s ease
}

.media-container:hover {
    box-shadow: 0px 8px 19px -6px #00000042;
    transition: box-shadow .2s ease
}

.text {
    padding: 0 10px;
}

.media-container .desc {
    height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-y: auto;
}  

::-webkit-scrollbar {
    width: 10px
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: rgb(175, 175, 175);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(85, 85, 85, 0.712);

}

.media-container .desc::-webkit-scrollbar {
    width: 5px
}

.desc::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.desc::-webkit-scrollbar-thumb {
    background: rgb(175, 175, 175);
}

.desc::-webkit-scrollbar-thumb:hover {
    background: rgba(85, 85, 85, 0.712);

}

.svgsection {
    position: relative;
    width: 100%;
    height: 50vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 0;
    left: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 100px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
            background-image: linear-gradient(180deg, #667eea 0%, #764ba2 100%);
}

.wave {
    position: absolute;
    bottom: 0;
    left: 0;
}

.search-text {
    padding-left: 10px;
    position: relative
}


.adv-page-container {
    display: grid;
    grid-template-columns: max-content repeat(2, 1fr);
    grid-template-rows: max-content repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
    width: calc(100% - 200px);
    margin-left: 100px;
}

.no-image-adv {
    background-color: #dbdbdb;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-no-img-adv {
    width: 70px;
    height: 70px;
    background: url("../img/image.png");
    background-position: center;
    background-size: cover;
    z-index: 2;
}

.media-img-adv, .no-image-adv {
    width: 200px;
    height: 300px;
    border-radius: 10px;
    margin-right: 20px;
    grid-area: 1 / 1 / 3 / 2;
}

.adv-page-name {
    grid-area: 1 / 2 / 2 / 4;
    font-weight: 800;
    font-size: 24px;
}

.adv-page-desc {
    grid-area: 2 / 2 / 3 / 4;
}

.infos-adv {
    grid-area: 2 / 2 / 2 / 4;
    display: flex;
    margin-top: 170px;
    justify-content: space-between;
}

.note {
    font-weight: 500;
}

.note::after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("/img/etoile.png");
    background-position: center;
    background-size: cover;
    margin: 0 0 -4.8px 5px;
}